<%/**
 * footer.ejs
 * 
 * Midterm Exam - Favourite List App
 * Student Name: Melissa Dennis
 * Student ID: 301283465
 * Date: July 07, 2023
 * 
 * @link partials/footer.ejs
 * @file This file defines the partial view to include the js scripts needed by the page.
 * @author Melissa Dennis
 */%>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <h4  class="navbar-text">&copy; 2023 All Rights Reserved.</h4>
  </div>
</nav>



<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
