<%/**
 * error.ejs
 * 
 * Midterm Exam - Favourite List App
 * Student Name: Melissa Dennis
 * Student ID: 301283465
 * Date: July 07, 2023
 * 
 * @link error.ejs
 * @file This file defines the partial view to show the "Error Page".
 * @author Melissa Dennis
 */%>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
