<%/**
 * 500.ejs
 * 
 * Midterm Exam - Favourite List App
 * Student Name: Melissa Dennis
 * Student ID: 301283465
 * Date: July 07, 2023
 * 
 * @link errors/500.ejs
 * @file This file defines the view to show the "500 Error" Page.
 * @author Melissa Dennis
 */%>

<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
          <p><%= error %></p>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


